<div class="position-absolute top-50 start-50 translate-middle">
    <img src="assets/doggos_sign.png" alt="doggos_sign.png" id="doggos" style="height:150px; margin-bottom:-100px"></a>
    <div class="float-left d-grid gap-3">
        <a id="doggos-btn" href="/dogs" role="button">
        
        <a class="btn btn-secondary" href="#" role="button">Closed</a> 
        <a class="btn btn-secondary" href="#" role="button">Closed</a> 
        <a class="btn btn-secondary" href="#" role="button">Closed</a>
    </div>
    
</div>
<div class="position-absolute top-0 end-0">
    <img src="assets/dave_reception.png" alt="dave_reception.png" id="dave" style="height: 100dvh;">
</div>

<script src="scripts/home.js"></script>
