<div class="position-absolute top-50 start-50 translate-middle">
    <div class="d-grid gap-3">
        <a class="btn btn-primary" href="/dogs" role="button">Doggos</a> 
        <a class="btn btn-secondary" href="#" role="button">Closed</a> 
        <a class="btn btn-secondary" href="#" role="button">Closed</a> 
        <a class="btn btn-secondary" href="#" role="button">Closed</a>
    </div>
</div>
