<div class="position-absolute top-50 start-50 translate-middle">
    <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#introModal" id="start-btn">Enter the exhibit</button>
</div>

<!-- Modal -->
<div class="modal fade" id="introModal" tabindex="-1" aria-labelledby="introModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="introModalLabel">
          <img src="assets/default.jpg" alt="default.jpg" id="sprite" style="width: 20ch;">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        *You hear fast footsteps approaching you at the entrance of the exhibit.*
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="leave-btn">Leave</button>
        <button type="button" class="btn btn-primary" id="next-btn">Continue</button>
        <button type="submit" class="btn btn-primary" id="end-btn">Begin</button>
      </div>
    </div>
  </div>
</div>

<script src="scripts/intro.js"></script>