body {
        background-image: url('../assets/doggos/doggo_bg.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 100vh;
    }

    .modal-btn {
        position: absolute;
        background: none;
        border: none;
    }

    .interact {
        position: absolute;
        height: 100dvh;
        width: 100%;
    }

    #doggo_5 {
        height: 700px;
        width: 360px;
        object-fit: cover;
        object-position: 0% 50%;
    }

    #doggo_4 {
        left: 400px;
        height: 700px;
        width: 360px;
        object-fit: cover;
        object-position: 30% 0%;
    }

    #doggo_3 {
        left: 1100px;
        height: 700px;
        width: 350px;
        object-fit: cover;
        object-position: 100% 0%;
    }

    #doggo_2 {
        left: 900px;
        height: 700px;
        width: 400px;
        object-fit: cover;
        object-position: 75% 0%;
    }

    #doggo_1 {
        position: relative;
        height: 700px;
        width: 360px;
        object-fit: cover;
        object-position: 40% 0%;
    }

    #layer-1 {
        position: absolute;
        left: 420px;
        height: 450px;
        width: 360px;
        overflow: hidden;
    }

.carousel-item > img {
    height: 250px;
    width: 400px;
    object-fit: cover;
}